.aboutme-title-text {
  color: var(--COLOR-BLACK, #070707);
  font-size: 96px;
  font-weight: 600;
  line-height: 94.128%;
  text-align: center;
}

.aboutme-desc {
  margin-top: 100px;
  color: var(--COLOR-BLACK, #070707);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 100px;
  text-align: justify;
}

.aboutme-desc2 {
  margin-top: 100px;
  color: var(--COLOR-BLACK, #070707);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 100px;
  text-align: justify;
}
