.contact-links {
  color: var(--COLOR-MAIN, #e0ccbb);
  font-size: 16px;
  font-weight: 600;
  margin-top: 18px;
}

.contact-desc {
  color: var(--COLOR-MAIN, #e0ccbb);
  font-size: 30px;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 88px;
}

.contact-instagram {
  margin-bottom: 170;
}
