.footer-title {
  color: var(--COLOR-MAIN, #e0ccbb);
  margin-top: 67px;
  font-size: 96px;
  font-weight: 600;
  line-height: 94.128%;
}

.footer-desc {
  margin-top: 10px;
  color: var(--COLOR-MAIN, #e0ccbb);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer {
  margin-top: 30px;
  background: var(--COLOR-BLACK, #070707);
}

.footer-ligne {
  background: var(--COLOR-MAIN, #e0ccbb);
  height: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--COLOR-MAIN, #e0ccbb);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-button:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.footer-links {
  color: var(--COLOR-MAIN, #e0ccbb);
}

.footer-group {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  width: 100px;

  align-items: center;
  align-content: center;
  gap: 14px 31px;
  flex-wrap: wrap;
}
.footer-group a {
  text-decoration: none;
}

.footer-second {
  margin-top: 30px;
  background: var(--beige);
}

.footer-title-second {
  color: var(--COLOR-BLACK, #070707);
  margin-top: 67px;
  font-size: 96px;
  font-weight: 600;
  line-height: 94.128%;
}

.footer-desc-second {
  margin-top: 10px;
  color: var(--COLOR-BLACK, #070707);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.footer-ligne-second {
  background: var(--COLOR-BLACK, #070707);
  height: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-button-second {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--COLOR-BLACK, #070707);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-button-second:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.footer-links-second {
  color: var(--COLOR-BLACK, #070707);
}
