.header {
  display: flex;
  width: 1116px;
  height: 43px;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.header-name {
  font-size: 15px;
  font-weight: 500;
}

.header-nav {
  display: flex;
  width: 546px;
  height: 43px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
  flex-shrink: 0;
}

.header a {
  color: var(--COLOR-BLACK, #070707);
  text-align: right;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.header-description {
  color: var(--COLOR-BLACK, #070707);
  font-size: 14px;
  font-weight: 300;
}

.header-quote {
  color: var(--COLOR-BLACK, #070707);
  text-align: center;
  font-size: 15px;
  font-weight: 275;
}

.button {
  display: flex;
  width: 926px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--COLOR-BLACK, #070707);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
