.work-desc {
  color: var(--COLOR-MAIN, #e0ccbb);
  font-size: 28px;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 88px;
}

.work-resume {
  color: var(--COLOR-MAIN, #e0ccbb);
  font-size: 16px;
  font-weight: 600;
  margin-top: 18px;
}
.work-made {
  color: var(--COLOR-MAIN, #e0ccbb);
  font-size: 14px;
  font-weight: 160;
  margin-top: 18px;
  margin-bottom: 250px;
}
