* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: none;
}

img,
video {
  display: block;
}

:root {
  --beige: #e0ccbb;
  --black: #070707;
}

body {
  font-family: poppins;
  background-color: var(--beige);
  color: var(--COLOR-BLACK, #070707);
}

.allworks {
  background-color: var(--black);
}

.button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--COLOR-BLACK, #070707);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.button:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.ligne {
  height: 0.5px;
  background: #070707;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #e0ccbb;
  mix-blend-mode: difference;
  position: fixed;
  pointer-events: none;
}

html {
  cursor: none;
}
